
div:target {
  animation: flash 0.1s;
}

@keyframes flash {
  0%,100% {
    background-color: transparent;
    border: 1px solid transparent;
  }
  10% {
    background-color: #ffeb3b;
    border: 4px solid red;
  }
}
