
div:target {
  animation: flash 0.1s;
}

@keyframes flash {
  0%,100% {
    background-color: transparent;
    border: 1px solid transparent;
  }
  10% {
    background-color: #ffeb3b;
    border: 4px solid red;
  }
}


.single-equation a{
  color: green;
  text-decoration: none;
  font-weight: bold;
}

.tag {
  color: green;
  text-decoration: none;
  font-weight: bold;
}

.single-equation a:hover{
  color: darkgreen;
}

.equation-group {
    margin: 20px 0;
}

/* Alternative: Individual equation styling */
.single-equation {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0px;
    padding: 0px 0;
    margin: -35px 0;
}

/* .single-equation   */
.math {
    flex: 0 0 auto;
}

/* .single-equation  */
.tag {
    flex-shrink: 0;
}

.ocupa {
    flex: 1 1 auto;  /* consumes all remaining space */
    background: black; /* optional */
}
