
div:target {
  animation: flash 2s;
}

@keyframes flash {
  0%,100% {
    background-color: transparent;
    border: 1px solid transparent;
  }
  10% {
    background-color: #ffeb3b;
    border: 4px solid red;
  }
}


.single-equation a{
  color: green;
  text-decoration: none;
  font-weight: bold;
}

.tag {
  color: green;
  text-decoration: none;
  font-weight: bold;
}

.single-equation a:hover{
  color: darkgreen;
}

.equation-group {
    margin: 20px 0;
}

/* Alternative: Individual equation styling */
.single-equation {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0px;
    padding: 0px 0;
    margin: -20px 0;
}

/* .single-equation   */
.math {
    flex: 0 0 auto;
}

/* .single-equation  */
.tag {
    flex-shrink: 0;
}

.ocupa {
    flex: 1 1 auto;  /* consumes all remaining space */
    background: black; /* optional */
}

.overlay{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 90%;
    max-width: 1000px;
    animation: fadeIn 0.4s ease-out;
}



.grid-plot-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* space between items */
}

.grid-plot-item {
  flex: 1 1 calc(25% - 10px); /* 4 items per row, minus gap */
  background-color: #ccc;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}


/* Make tables prettier */
table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

table th, table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table body tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
